@import "~styles/functions";

.container {
  display: flex;
  width: 100%;
  height: 100%;
}
.footer-items {
  display: flex;
  text-transform: uppercase;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.2);
}

ul {
  list-style-type: none;
  height: 100%;
  width: 100%;
  li {
    height: 100%;
    color: rgba(255, 255, 255, 0.5);
  }
  li.selected {
    position: relative;
    color: rgb(255, 255, 255);
    &::before {
      content: "";
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150%;
      position: absolute;
      border-bottom-color: rgb(255, 255, 255);
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
  }
}
