@import "~styles/functions";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgba(255, 255, 255, 0.2);
}

span {
  padding: calcRem(15px);
  transform: rotate(-90deg);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  white-space: nowrap;
}
