@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

// @font-face {
//   font-family: "Fira Sans";
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-Black.ttf") format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-BlackItalic.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-BoldItalic.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-ExtraBold.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-ExtraBoldItalic.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-ExtraLight.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-ExtraLightItalic.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-Italic.ttf") format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-Light.ttf") format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-LightItalic.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-Medium.ttf") format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-MediumItalic.ttf")
//     format("truetype");

//   src: url("src/assets/fonts/Fira_Sans/FiraSans-SemiBold.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-SemiBoldItalic.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-Thin.ttf") format("truetype");
//   src: url("src/assets/fonts/Fira_Sans/FiraSans-ThinItalic.ttf")
//     format("truetype");
// }

// @font-face {
//   font-family: "Open Sans";
//   src: url("src/assets/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
//   src: url("src/assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
//   src: url("src/assets/fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
//   src: url("src/assets/fonts/Open_Sans/OpenSans-LightItalic.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
//   src: url("src/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf")
//     format("truetype");
//   src: url("src/assets/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf")
//     format("truetype");
// }
