@import "functions";

@mixin transform($property) {
  -moz--transform: $property;
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: calcRem(600px)) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (max-width: calcRem(900px)) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: calcRem(1200px)) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: calcRem(1500px)) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: calcRem(1800px)) {
      @content;
    }
  }
}
