/* You can add global styles to this file, and also import other style files */
@import "mixins";
@import "fonts";
// @import url(//fonts.googleapis.com/css?family=Open+Sans);
// @import url(//fonts.googleapis.com/css?family=Fira+Sans);

:root {
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  //font-size: calc(0.5em + 1vw);
  font-family: "Fira Sans", sans-serif;
}
