@import "~styles/functions";

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-wrapper {
  margin-left: calcRem(170px);
  max-width: calcRem(400px);
}
h1 {
  font-size: calcRem(80px);
  color: rgb(255, 255, 255);
  letter-spacing: calcRem(2px);
}
