@import "~styles/mixins";

.container {
  display: grid;
  width: 100%;
  max-width: 1920px;
  grid-gap: 0;
  grid-template:
    "side top top"
    "side body body"
    "side body body"
    "side footer footer";
  grid-template-rows: 1fr 5fr 5fr 1fr;
  grid-template-columns: 1fr 5fr 5fr;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/assets/black-and-beautiful.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.side {
  grid-area: side;
}

.top {
  grid-area: top;
}
.body {
  grid-area: body;
}
.footer {
  grid-area: footer;
}
