<div class="container">
  <app-sidebar class="side"></app-sidebar>
  <app-header class="top"></app-header>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
  <app-footer class="footer"></app-footer>
</div>
