<nav class="container">
  <ul class="nav-items">
    <li>EN<i class="fa fa-caret-down"></i></li>
    <li>+365 1 4825 868</li>
  </ul>
  <ul class="nav-items">
    <li class="selected">About Us</li>
    <li>Newsroom</li>
    <li>Contact Us</li>
    <li><button class="button">Client Login</button></li>
  </ul>
</nav>
