@import "~styles/functions";

.container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 calcRem(10px) calcRem(10px) 0;
  justify-content: space-between;

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
ul {
  list-style-type: none;
  height: 100%;
  li {
    height: 100%;
    padding-top: calcRem(25px);
    color: rgba(255, 255, 255, 0.5);
  }
  li + li {
    margin-left: calcRem(30px);
  }
  li.selected {
    position: relative;
    color: rgb(255, 255, 255);
    &::before {
      content: "";
      top: 0;
      left: 50%;
      width: 150%;
      transform: translate(-50%, -50%);
      position: absolute;
      border-top-color: rgb(255, 255, 255);
      border-top-width: 2px;
      border-top-style: solid;
    }
  }
}
button {
  font-size: 100%;
  font-family: inherit;
  width: calcRem(120px);
  height: calcRem(45px);
  border: 0;
  color: rgb(255, 255, 255);
  background-color: rgba(22.4, 24.7, 30.2, 0.08);
}

.fa {
  font-size: 0.8rem;
  margin-left: calcRem(7px);
}
